* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: var(--OpenSans);
  color: var(--black-main);
  background-color: var(--grey-light);
  font-size: 14px;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: var(--blue-main);

  &:hover {
    text-decoration: none;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
